BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
NamespaceIndentation: All
PointerAlignment: Left
SpaceAfterCStyleCast: true

